<div>
  <% lists.each do |list| %>
  <h2> <%= list.name %> </h2>
  <ul>
  	<% list.dramas.each do |drama| %>
  	<li> <%= link_to drama.name, drama_path(drama) %> </li>
  	<% end %>
  </ul>
  <% end %>
</div>