<style type="text/css">
  .drama {
    width: 350px;
  }
  .cast {
    width: 150px;
  }
</style>

<table class="bordered highlight">
  <thead>
    <tr>
        <th data-field="id">Image</th>
        <th data-field="name">Drama Name</th>
        <th data-field="name">Drama Plot</th>
        <th data-field="price">Cast</th>
    </tr>
  </thead>
  <tbody>
    <% @dramas.each do |drama| %>
      <tr>
        <td><%= image_tag drama.image_url, class: 'drama' %></td>
        <td><%= drama.name %></td>
        <td><%= drama.plot %></td>
        <td>
          <% drama.casts.each do |cast| %>
            <%= image_tag cast.image_url, class: 'cast' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>