<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=0.5; maximum-scale=0.5; user-scalable=0;"/>
    <meta name="keywords" content="javascript, dynamic, grid, layout, jquery plugin, flex layouts"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
   
  </body>
</html>