<md-list>
  <md-list-item class="md-2-line">
  <img src="https://avatars0.githubusercontent.com/u/10727368?v=3&s=460" class="md-avatar" />
    <div class="md-list-item-text">
      <p>
        <%= link_to(a.trackable.follower.first_name, "/#!/users/#{a.trackable.follower_id}/lists") %>
        is now following
        <%= link_to(a.trackable.followed.first_name, "/#!/users/#{a.trackable.followed_id}/lists") %>
      </p>
    </div>
  </md-list-item>
  <md-divider ></md-divider>
</md-list>