#user-bar {
  min-height: 50px;
  width: 100%;
  background-color:#fff2e5;
  
}

#user-info {
  display: inline;
  margin-left: 85%;
}

.user-icon {
  display: inline;
  min-width: 40px;
  text-align: center;
  margin-top: 10px;
}

button.alter-relationship {
  min-width: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.md-button.alter-relationship:hover {
  background-color: #faebd7;
}

.relationship {
  display: inline
}

