<md-list class="record" data-id="<%= a.id %>">
  <md-list-item class="md-2-line">
  <img src="https://avatars0.githubusercontent.com/u/10727368?v=3&s=460" class="md-avatar" />
    <div class="md-list-item-text">
      <p>
        <%= link_to(a.trackable.user.first_name, "/#!/users/#{a.trackable.user_id}/lists") %>
        has created a new list:
        <%= link_to(a.trackable.name, "/#!/users/#{a.trackable.user_id}/lists/#{a.trackable.id}") %>.
      </p>
    </div>
  </md-list-item>
  <md-divider ></md-divider>
</md-list>