<div>
	<!-- if no review, form to create -->
  <div ng-if="!review"> 
    <form name="addReviewForm" role="form" ng-submit="addReview(review)" novalidate>
      <textarea ng-model="review" placeholder="Write a review..."></textarea>
      <button type="submit" ng-disabled="addReviewForm.$invalid" class="btn btn-primary">Save</button>	
    </form>
  </div>
  
  <!-- Else option to edit or delete -->
  <div ng-if="review">
    <p> <em>Your review:</em> <span editable-text="review" onaftersave="updateReview(review)"> {{review}} </span></p>
    <button ng-click="reset()">Delete</button>
  </div>

</div>