<div ng-controller= "DramasCtrl as dramas">
<dir-pagination-controls boundary-links="true" template-url="/dirPagination.html"> </dir-pagination-controls>
  <button ng-click="dramas.test()">+</button>

  <h3>Dramas:</h3>
  <div gridster= "dramas.gridsterOpts">
    <div gridster-item="items" dir-paginate= "drama in dramas.items | itemsPerPage: dramas.pageSize" current-page="dramas.currentPage">
      <a ui-sref="drama({dramaID: drama.id}) "> <figure>
        <img src="{{drama.image_url}}" alt="{{drama.poster_file_name}}">
        <figcaption>
          {{drama.name}} <br/></a>
          {{drama.release_date}}

        </figcaption>
        <select name ="add_drama" ng-model="dramas.selectedList" class="form-control" ng-options="list as list.name for list in dramas.userLists" required>
          <option value="">Add</option>
        </select>
      </figure> 
    </div>
  </div>
</div>
