<section>
  <div class="drama-image-and-info">
    <div class="drama-image">
    </div>
    <div class="drama-info">
      <h1>{{drama.name}}</h1>
      <div ng-controller="RatingsCtrl as ctrl">
        <div drama-rating drama="drama" rating-id ="ctrl.id" rating-value="ctrl.rating" data-max="ctrl.max"></div>
      </div>
    </div>
  </div>

  <p>Year of Release: {{drama.year}}</p>
  <p>Number of episodes: {{drama.episode_count}} </p>
  <div>
   <h3> Avg Rating: {{drama.avgRating}} </h3>
  </div>

  <div ng-if="drama.user">
    <add-review drama="drama"></add-review>
  </div>

  <div ng-controller="ReviewsCtrl as ctrl">
    <h3>All Reviews</h3>
    <div ng-repeat= "review in ctrl.reviews">
      Author: <span name-user user-id="review.reviewer_id"></span>
      <p>Review: {{review.body}}</p>
    </div>
  </div>

</section>