<h2>Dramas Index </h2>
  <div ng-controller="DramasCtrl as dramas">
    <ul>
      <div ng-repeat= "drama in dramas.items">
          <div class='cover'>
          <li>
            <figure>
              <img src="/drama_thumbnails/{{drama.poster_file_name}}" alt="{{drama.poster_file_name}}">
              <figcaption>
                  {{drama.name}} <br/>
                  {{drama.release_date}}
              </figcaption>
            </figure>
          </li>
          </div>
      </div>
  	</ul>

      <div class="row-fluid">
        <div class="span6">
          <div class="btn btn-primary" data-drag="true" jqyoui-draggable="{animate: true}" >{{dramas.list1}}</div>
        </div>
        <div class="span6">
          <div class="thumbnail" data-drop="true" ng-model="list2" jqyoui-droppable="{beforeDrop: 'beforeDrop'}" ng-bind="list2.title ? 'Dropped successfully..!' : 'Drop here...'"></div>
        </div>
      </div>
  </div>
    <br/><br/>
    
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-body">
        <b>Are you sure???</b>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>
 
