<form class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
  <input role="genreitem" type="checkbox" value="action">Action/Adventure</a><br/>
  <input role="genreitem" type="checkbox" value="comedy">Comedy</a><br/>
  <input role="genreitem" type="checkbox" value="historical">Historical</a><br/>
  <input role="genreitem" type="checkbox" value="idol">Idol Drama</a><br/>
  <input role="genreitem" type="checkbox" value="melodrama">Melodrama</a><br/>
  <input role="genreitem" type="checkbox" value="mystery">Mystery</a><br/>
  <input role="genreitem" type="checkbox" value="romance">Romance</a><br/>
  <input role="genreitem" type="checkbox" value="supernaturl">Supernatural</a><br/>
  <input role="genreitem" type="checkbox" value="thriller">Thriller</a><br/>

</form>