<form name="genre-form" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
  <input role="genreitem" type="checkbox" value="action">Action/Adventure</a>
  <input role="genreitem" type="checkbox" value="comedy">Comedy</a>
  <input role="genreitem" type="checkbox" value="historical">Historical</a>
  <input role="genreitem" type="checkbox" value="idol">Idol Drama</a>
  <input role="genreitem" type="checkbox" value="melodrama">Melodrama</a>
  <input role="genreitem" type="checkbox" value="mystery">Mystery</a><br/>
  <input role="genreitem" type="checkbox" value="romance">Romance</a>
  <input role="genreitem" type="checkbox" value="supernaturl">Supernatural</a>
  <input role="genreitem" type="checkbox" value="thriller">Thriller</a>
</form>