<a ui-sref="user.lists({userID: list.userID})"> Back </a>
<h3 editable-text="list.name" onaftersave="list.updateName(list.name)">{{list.name}}</h3>
<h5>Description:</h5>
<em editable-text="list.description" onaftersave="list.updateDescription(list.description)">{{list.description || "empty" }} </em>
<div gridster= "list.gridsterOpts"> 
  <div gridster-item="items" ng-repeat= "drama in list.items" >
    <a ui-sref="drama({dramaID: drama.id}) "> <figure>
      <img src="{{drama.image_url}}" alt="{{drama.poster_file_name}}">
      <figcaption>
        {{drama.name}} <br/></a>
        {{drama.release_date}}
      </figcaption>
      <delete-drama drama="drama" remove-item= "list.removeItem(drama)" list="{{list.id}}" user="{{list.userID}}"> </delete-drama>
    </figure>
  </div>
</div>
