<div>
  <h2 ng-cloak>
    Lists
    <md-button class="add-list" ng-if="lists.authorized()" ng-click="lists.showModal()"><i class="fa fa-plus fa-1x"></i></md-button>
  </h2>

  <div gridster= "user.gridsterOpts">
    <div gridster-item="items" ng-repeat= "list in lists.items" ng-cloak>
      <md-content layout="row" layout-wrap layout-align="center start" layout-xs="column">
        <div flex-xs="100" layout="column">
          <md-card>
            <a ui-sref="user.list({listID: list.id, userID: list.user_id})">
              <img src="http://www.clipartbest.com/cliparts/dc7/jkA/dc7jkAdc9.svg">
            </a>
            <md-card-title>
              <md-card-title-text>
                <a ui-sref="user.list({listID: list.id, userID: list.user_id})">
                  {{list.name}}
                </a>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <delete-list list="list" remove-item="lists.removeItem(list)" ng-if="lists.authorized()"> </delete-list>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
    </div>
  </div>
</div>