<div>
    <h2>Login</h2>
    <div ng-if="login.error" role="alert">{{login.error}}</div>
    <form name="form" ng-submit="login.submit(login.user, login.loginForm.$valid, login.user.register)" role="form" novalidate>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="login.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="login.user.password" required />
        </div>
        <div>
            <button type="submit" ng-disabled="login.loading" class="btn btn-primary">Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>



      