<div>
    <h2>Register</h2>
    <div ng-if="register.error" role="alert">{{register.error}}</div>
    <form name="form" ng-controller="RegisterCtrl as register" ng-submit= "register.signUp()" role="form" novalidate>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" class="form-control" ng-model="register.newUser.firstName" required />
        </div>

        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" ng-model="register.newUser.lastName" required />
        </div>

        <div>
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" ng-model="register.newUser.email" required />
        </div>

        <div>
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="register.newUser.username" required />
        </div>
        
        <div>
            <label for="password">Password</label>
            <input name="password" id="password" class="form-control" ng-model="register.newUser.password" required />
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
