<li class="list-group-item">
  <%= link_to(a.trackable.reviewer.first_name, "/#!/users/#{a.trackable.reviewer_id}/lists") %>
  reviewed
  <%= link_to(a.trackable.drama.name, "/#!/dramas/#{a.trackable.drama.id}") %>:
  <%= a.trackable.body %>.
</li>